
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-400px * 4 - 0.5rem * 8));
	}
}

.animate-scroll {
	animation: scroll 30s linear infinite;
}

@media(max-width:600px){
	.animate-scroll {
		animation: scroll 60s linear infinite;
	}
}